@font-face {
  font-family: 'Proxima Nova';
  src: url('./assets/fonts/proxima-nova/ProximaNova-Extrabld.woff2');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('./assets/fonts/proxima-nova/ProximaNova-Regular.woff2');
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('./assets/fonts/proxima-nova/ProximaNova-Bold.woff2');
}
